.origin {
    svg {
      height: 20%;
      width: 20%;
    }
    path {
      fill: white;
      stroke: black;
      stroke-width: 0.5;
      stroke-linejoin: round;
    }
    path:hover {
      fill: aliceblue;
      stroke: lightskyblue;
    }
}