svg {
    height: 50%;
    width: 50%;
  }
  path {
    fill: white;
    stroke: black;
    stroke-width: 2;
    stroke-linejoin: round;
  }
  path:hover {
    fill: aliceblue;
    stroke: lightskyblue;
  }