body {
    margin: 0;
}

* {
    font-family: monospace;
}

a {
    text-decoration: none;
}

.header {
    background-color: #DBEFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sun {
    align-self: flex-start;
    margin-right: auto; 
    transform: scale(0.8);
}

#origin_cloud{
    align-self: flex-end;
    margin-left: auto;  
    transform: scale(0.5);
}

#origin_text { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

#school_cloud{
    align-self: flex-end;
    margin-left: auto;
    transform: scale(0.5);
}

#school_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

#skills_cloud{
    align-self: flex-end;
    margin-left: auto; 
    transform: scale(0.5);
}

#skills_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

#projects_cloud{
    align-self: flex-end;
    margin-left: auto; 
    transform: scale(0.5);
}

#projects_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

#exp_cloud{
    align-self: flex-end;
    margin-left: auto; 
    transform: scale(0.5);
}

#exp_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

#hobbies_cloud{
    align-self: flex-end;
    margin-left: auto; 
    transform: scale(0.5);
}

#hobbies_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

@media screen and (max-width: 768px) {
    #origin_cloud, #school_cloud, #skills_cloud, #projects_cloud, #exp_cloud, #hobbies_cloud {
        transform: scale(0.3); 
    }

    #sun {
        transform: scale(0.5); 
    }
}