body {
    margin: 0;
}

* {
    font-family: monospace;
}

a {
    text-decoration: none;
}

.header {
    background-color: #DBEFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sun {
    align-self: flex-start;
    margin-right: auto; 
    transform: scale(0.8);
}

#origin_cloud, #school_cloud, #skills_cloud, #projects_cloud, #exp_cloud, #hobbies_cloud{
    align-self: flex-end;
    margin-left: auto;  
    transform: scale(0.5);
    margin: 0;
    padding: 0;
}

#origin_text, #school_text, #skills_text, #projects_text, #exp_text, #hobbies_text { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
}

@media screen and (max-width: 768px) {
    #origin_cloud, #school_cloud, #skills_cloud, #projects_cloud, #exp_cloud, #hobbies_cloud {
        transform: scale(0.3); 
    }

    #sun {
        transform: scale(0.5); 
    }
}

.sections {
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    display: inline-block;
    align-items: center;
    width: 100%;
}

.bubble_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#intro_box {
    background-image: linear-gradient(#BEECFF, #92C9E0);
}

#intro_bubble {
    display: inline-block;
    position: relative;
    left: 44%;
    img {
        transform: scale(2);
        height: auto;
    }
}

#origin_box {
    background-image: linear-gradient(#92C9E0, #668795);
}

#school_box {
    background-image: linear-gradient(#668795, #396172);
}

#skills_box {
    background-image: linear-gradient(#396172, #164458);
}

#projects_box {
    background-image: linear-gradient(#164458, #072E3F);
}

#exp_box{
    background-image: linear-gradient(#072E3F, #293F89);
}

#hobbies_box {
    background-image: linear-gradient(#293F89, #04154A);
}

#bottom_box {
    background-color: yellow;
}

#skills {
    margin-top: 100px;
    margin-bottom: 600px;
}

#exp {
    margin-top: 600px;
}

#bottom {
    margin-top: 50px;
    margin-bottom: 50px;
}